<!DOCTYPE html>
<html lang="en">
    <head>
        <title>index1</title>
        <meta charset="utf-8">
        <meta name="hotcss" content="design-width=750">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        <script>
        {{{__other__}}}
        </script>
        <script>
        {{{__rem__}}}
        </script>
    </head>
    <body>
        {{{__content__}}}
        <div id="app">
        </div>
        <!-- inject:manifest -->
        <!-- endinject -->
        {{{__content__}}}
    </body>
</html>